body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.parallax-container {
    height: 800px;
}

#sidenav-overlay {
    z-index: -1;
}

.greenlogo {
    /*padding-left: 10px;*/
    font-size: 3.5vw

}

.customh5 {
    font-size: large
}

.footerpaddingbot {
    padding-top: 0;
    padding-bottom: 20px
}

.noStyleType {
    list-style-type: none;
}

.marginTopandBot {
    margin-bottom: 15px;
    margin-top: 15px;
}
.margin {
    margin-top: 30px;
}

.customHeight {
    height: 273px;
}